<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LojaSys.AcessaDados.Properties.Settings.strConexao"
            connectionString="Data Source=DESKTOP-ST4CV4H;Initial Catalog=model;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>